<!doctype html>
<html class="no-js" lang="cs-CZ">

<head>
  <meta charset="utf-8">
  <title>Pomníček</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:url" content="https://admin.pamatnikpandemie.cz">
  <meta property="og:image" content="{{ url_for('static', filename='img/og-image.png', _external=True) }}">

  <!-- <link rel="stylesheet" href="//basehold.it/24"> -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap" rel="stylesheet">
</head>

<body>
  <main>
    <h1 class="question">Památník pandemie</h1>
</body>

</html>
