<!DOCTYPE html>
<html lang="cs-CZ">
  <head>
    <title>Příběh - Památník pandemie</title>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <link href="/admin/static/bootstrap/bootstrap3/swatch/default/bootstrap.min.css?v=3.3.5" rel="stylesheet">
        <link href="/admin/static/bootstrap/bootstrap3/css/bootstrap-theme.min.css?v=3.3.5" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css" rel="stylesheet">
        <style>
        body {
            padding-top: 4px;
        }
        </style>
        <script src="/admin/static/vendor/jquery.min.js?v=3.3.1" type="text/javascript"></script>
        <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    </head>
    <body>

    <div class="container">
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <a class="navbar-brand" href="">Přidání příběhu do Památníku pandemie</a>
        </div>
      </nav>

    <div class="col-md-offset-2 col-md-10 submit-row">
      <p>
        Vážíme se vašich zpráv a informací ke zveřejnění. Zasílejte, prosíme, pouze informace týkající
        se zemřelých na COVID 19 v České Republice.</li>
      </p>
      <p>
        Pro zveřejnění potřebujeme křestní jméno, iniciál příjmení, datum úmrtí, krátkou vzpomínku, případně věk
        a váš kontaktní email.
      </p>
      <p>
        V případě nesrovnalostí či sporů bude jednotlivý záznam odstraněný a po dořešení bude možnost znovu
        záznam umístit.
      </p>
    </div>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-info alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

      {% from "_form_helpers.jinja2" import render_field, render_date_field %}
      <form id="pribeh" action="/pribeh" method="POST" role="form" class="admin-form form-horizontal" enctype="multipart/form-data">
        {{ render_date_field(form.date, placeholder="1.1.2021") }}
        {{ render_field(form.name) }}
        {{ render_field(form.story) }}
        {{ render_field(form.age) }}
        {{ render_field(form.contact_email) }}
        <hr>
        <div class="form-group">
        <div class="col-md-offset-2 col-md-10 submit-row">
            <input type="submit" class="btn btn-primary" value="Odeslat" />
        </div>
        </div>
    </form>
    </div>
  </body>
</html>
